<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title%}{% endblock %}</title>
        <link rel="shortcut icon" href="{{STATIC_URL}}img/logo.png" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/dataTables.responsive.css" rel="stylesheet">
		 <link href="{{STATIC_URL}}css/defilas.css" rel="stylesheet">       
		<link href="{{STATIC_URL}}css/materialize.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/jquery.datetimepicker.css " rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css" /> 
        <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "0";</script>
        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <meta charset='utf-8' name="robots" content="NONE,NOARCHIVE" />
        <script src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.datetimepicker.js"></script>
        <script src="{{STATIC_URL}}js/materialize.js"></script>
       <!-- <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>-->
        <script type="text/javascript">
    $(document).ready(function(){
        $('div.acordion> div').hide(); /*aki estamos ocultando los div k contiene el texto*/
        $('div.acordion> li').click(function(){
            $(this).next().slideToggle(90) /*slideToggle este metodo hace el efecto cuando haces click en un tienpo de 90 mls*/
        })
    })
    </script>
    <style type="text/css">
    .acordion{
        width: 240px;
    }
    .acordion div{
        width: 241px;
        padding:.5em .10em;
        background: orange;
    }
    .acordion li:hover{
        width: 240px;
        
    }
    .active:hover{
        cursor: pointer;
        border: 1px solid silver;
    }
    #left{
        width: 25px;
        float: right;
        margin-right: 130px;
        font-size: 15px;
        margin-top: 15px;
    }
    #leftt{
        width: 25px;
        float: right;
        font-size: 15px;
        margin-top: 15px;
        margin-right: 200px;
    }
    .acordion li{
        color: black;
    }
    .acordion div a{
        margin-left: 35px;
    }
 

    </style>

    </head>
    <body>   
        <header>
            <nav id="header" class="nav-top">
           <div class="btn-group" id="leftt">
         <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
             {% block usuario %}
             <a href="/datos/{{usuario.id}}">
holas..!!!{{usuario.username|upper}}</a>
            {% endblock %}    
                     
     </button>

     </div>
                <a href="/datos/" id="left">
                    <div class="btn-group">
     <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
     Denuncias <span class="caret"></span>
                      </button>
                     <!-- <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Acción #1</a></li>
                                    <li><a href="#">Acción #2</a></li>
                                    <li><a href="#">Acción #3</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Acción #4</a></li>
                              </ul> -->
                    </div>
</a>

                <a href="/" class="brand-logo hide-on-med-and-down">Sub sistema secretaria</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse full">
                    <i class="mdi-navigation-menu"></i></a>
                <ul id="nav-mobile" class="side-nav fixed">
                    <li class="logo">
                        <a id="logo-container" href="/admin">
                            <img class="responsive-img" src="{{STATIC_URL}}img/logo.png">
                        </a>
                    </li>
                    <li class="active"><a href="/admin/">secretaria</a></li>
                    <!-- <li class="glyphicon .glyphicon-user" ><a href="/admin/">Usuarios</a></li> -->
                    <div class="acordion">
        <li class="active">Negocios</li>
        <div>
            <li><a href="">Nuevo Usuario</a></li>
            <li><a href="">Nuevo Usuario</a></li>
            <li><a href="">Ver Usuarios</a></li>
        </div>

        <li class="active">Controles</li>
        <div>
            <li><a href="">Nuevo Usuario</a></li>
            <li><a href="">Nuevo Usuario</a></li>
            <li><a href="">Ver Usuarios</a></li>
        </div>

        <li class="active">Usuarios</li>
        <div>
            <li><a href="/nuevo/">Nuevo Usuario</a></li>
            <li><a href="">Nuevo Usuario</a></li>
            <li><a href="">Ver Usuarios</a></li>
        </div>
        
    </div> 
                </ul>
            </nav>
        </header>
        <main><br>
{% block contenidos %}
{% endblock %}
</main>
<script type="text/javascript">
    if (navigator.appVersion.indexOf("Win")!=-1) {
        document.write('<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/robotofix.css">');
    }

    $(function() {
        $('.dropdown-button').dropdown({hover: false});
        $(".button-collapse").sideNav();
        $('select').not('.disabled').not('.material-ignore').material_select();

        $('[data-form-control="date"]').each(function() {
            var input = $(this);
            input.datetimepicker({format: input.data('date-format'), timepicker:false, mask:false});
        });
        $('[data-form-control="time"]').each(function() {
            var input = $(this);
            input.datetimepicker({format: input.data('date-format'), datepicker: false, timepicker:true, mask:false});
        });
        $('[data-form-control="datetime"]').each(function() {
            var input = $(this);
            input.datetimepicker({format: input.data('date-format'), datepicker: true, timepicker:true, mask:false});
        });
        /*
          In chrome, there is no way to get to know is autofill
          fills the password field until user is interacted. Assume
          that it is
        */
        if($('input[type=password]').length) {
            function autofix() {
                $('input[type=password]').addClass('active').addClass('valid');
                $('input[type=password]').next('label').addClass('active').addClass('valid');
                $('input[type=password]').prev('i').addClass('active');
                userInteracted();
            }

            function userInteracted() {
                $('body').off('input propertychange', 'input[type=text]', autofix);
                $('body').off('input propertychange', 'input[type=email]', autofix);
                $('body,html').unbind("scroll mousedown DOMMouseScroll mousewheel keyup", userInteracted);
            }

            $('body').on('input propertychange', 'input[type=text]', autofix);
            $('body').on('input propertychange', 'input[type=email]', autofix);
            $("body,html").bind("scroll mousedown DOMMouseScroll mousewheel keyup", userInteracted);
        }
    });
</script>
        <script src="{{STATIC_URL}}js/jquery.dataTables.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/dataTables.responsive.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/dataTables.fixedHeader.js" type="text/javascript"></script>
<script type="text/javascript">
//toast('Use  admin:admin  para ingresar a la administracion', 100000, 'alert-error');
</script>
    </body>
</html>