{% extends 'base.html' %}
	{% block title %}.:Editar:.{% endblock %}
{% block contenidos %}
	<link rel="stylesheet" type="text/css" href="/static/css/partidosForm.css">
<style type="text/css">
	#id_Categoria{
		width: 60%;
	}
	#partidos table tr td ul li{
		width: 30px;float: left;margin: auto;
		list-style: none;margin-left: 35px;
	}
</style>
<div id="partidos">
<form method='POST' enctype="multipart/form-data">{% csrf_token %}
<table>{{forms}}</table><br>
<input type='submit' value='Registrar' id='btn'>
</form>
</div>
{% endblock %}