
<style type="text/css">
.col-lg-4{
	display: none;
}
	.lista table{
		width:100%;height: 0px;margin: 0px;
		font-size: 15px;
		border-collapse: collapse;
	}
	.lista table tr:nth-child(odd) {background:LightSkyBlue;}
	.lista table tr:hover{
		background: #ADD8E6;
	}

</style>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/position.css"> -->

	<!-- <div id="equipos">
		{% for dato in equipos %}
			<li>{{dato.Nombre_equipo}}
			{% for punto in puntos %}
				{% if punto.Equipo_id == dato.id %}
				{{punto.Puntaje}}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div> --> 
	<div id="ppp" class='lista'>
		<p><img src="/static/img/Imagen-animada-Futbol-11.gif">Tabla de Posiciones Campeonatos Inter-Carreras</p>
		<!-- {% for v in vesto %}
			<li>{{v}}</li>
		{% endfor %}<br>
		{% for a in lista %}
			<li>Puntos:{{a}}</li>	
		{% endfor %} 
		{% for item in diccionario %}
				<li>{{item}}   Puntos  :{{item.values}}</li>
		{% endfor %}
	</div><br>-->
		<!-- <table border=1>
		{% for item in mayor %}
		<tr><td>{{item.keys}}</td>
				 {% for i in item.values %}
					<td>{{i}}</td>
				{% endfor %}
		</tr>
		{% endfor %}
		</table> -->

		<table border=1>
			{% if mayor|length != 0 %}
	{% for i in mayor %}
	<tr>
		{% for a,i in i.items %}
				<td>{{a}}</td> <td>{{i}}</td>
		{% endfor %}
	{% endfor %}
		{% else %}
		<tr> <h5>No se encontraron Puntuaciones registradas</h5> </tr>
	{% endif %}
	</tr>
	</table>
	<p><a href="javascript:window.history.back();">Atras</a></p>
</div>

